body{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#headermain{
    background-color: black;
    border: 2px green solid;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

/* top menu */

nav{
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

nav>ul{
    list-style-type: none;
}

/* side menu */

 .leftmenu ul{
     padding-inline-start: 0;
     margin-right: 0;
}

.leftmenu ul>a>li{
    background-color: rgb(0, 0, 0);
    color:#f0ffff;   
    list-style-type:none;
    padding: 14px 45px;
    display: block;
    cursor:pointer;
    margin-bottom: 2px;
}

.leftmenu ul>a>li:hover{
    background-color: #f0ffff;
    color:black;
}

.leftmenu ul>a{
    text-decoration: none;
}

.leftmenu{
    display:flex;
    flex-direction: column;
    align-items:baseline;
}

/* main content */

.contentMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.mainImage {
    align-self: flex-end;
}

/*  footer  */
 
footer {
    display: flex;
    flex-direction: column;
}



/* responsive code */
/* i copied this, not entirely understanding it*/
/*Responsive code*/
@media screen and (max-width: 600px) {
    .leftmenu{
        order: 2;
    }
    .main{
        flex-basis: 90%!important;
    }